<div class="container">
    <div class="row">
        <div id="search-form" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-controller="flightSearchController">
            <div style="padding: 15px 15px 0 15px;">
                <form>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Origin" ng-model="originInput" ng-keyup="findAirports(originInput)"
                                        bs3-typeahead bs3-promise="airports" bs3-displayText="airportDisplayText" bs3-afterSelect="afterOriginAirportSelect">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Departure" ng-model="params.departure">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Destination" ng-keyup="findAirports(destinationInput)" ng-model="destinationInput"
                                        bs3-typeahead bs3-promise="airports" bs3-displayText="airportDisplayText" bs3-afterSelect="afterDestinationAirportSelect">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Return" ng-model="params.return">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Adults" ng-model="params.adults">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Children" ng-model="params.children">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Infants" ng-model="params.infants">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Currency" ng-model="params.currency">
                            </div>
                        </div>
                    </div>
            </div>
            <div style="background-color: #ffffff; border-top: 1px solid #ccc; padding: 7px 15px 7px 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-info pull-right" ng-click="search(params)"><strong>Search</strong></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
